@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 3.5rem;

    --hue                : 152;
    --first-color        : hsl(var(--hue), 24%, 32%);
    --first-color-alt    : hsl(var(--hue), 24%, 28%);
    --first-color-light  : hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color        : hsl(var(--hue), 4%, 15%);
    --text-color         : hsl(var(--hue), 4%, 35%);
    --text-color-light   : hsl(var(--hue), 4%, 55%);
    --body-color         : hsl(var(--hue), 0%, 100%);
    --container-color    : #FFF;



    --body-font        : 'Poppins', sans-serif;
    --big-font-size    : 2rem;
    --h1-font-size     : 1.5rem;
    --h2-font-size     : 1.25rem;
    --h3-font-size     : 1rem;
    --normal-font-size : .938rem;
    --small-font-size  : .813rem;
    --smaller-font-size: .75rem;


    --font-medium   : 500;
    --font-semi-bold: 600;


    --mb-0-5 : .5rem;
    --mb-0-75: .75rem;
    --mb-1   : 1rem;
    --mb-1-5 : 1.5rem;
    --mb-2   : 2rem;
    --mb-2-5 : 2.5rem;


    --z-tooltip: 10;
    --z-fixed  : 100;

}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size    : 3.5rem;
        --h1-font-size     : 2.25rem;
        --h2-font-size     : 1.5rem;
        --h3-font-size     : 1.25rem;
        --normal-font-size : 1rem;
        --small-font-size  : .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size  : var(--normal-font-size);
}

body {
    margin          : var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color           : var(--text-color);
    transition      : .4s;
    /*For animation dark mode*/
}

button {
    cursor : pointer;
    border : none;
    outline: none;
}

h1,
h2,
h3 {
    color      : var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height   : auto;
}

.section {
    padding: 5.5rem 0 1rem;
}

.section_title,
.section_title-center {
    font-size    : var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height  : 140%;
}

.section_title-center {
    text-align: center;
}

.container {
    max-width   : 968px;
    margin-left : var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
    /*For animation*/
}

/*=============== HEADER ===============*/
.header {
    width           : 100%;
    background-color: var(--body-color);
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : var(--z-fixed);
    transform       : .4s;
}

/*=============== NAV ===============*/
.nav {
    height         : var(--header-height);
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.nav_logo,
.nav_toggle,
.nav_close {
    color: var(--title-color);
}

.nav_logo {
    text-transform: uppercase;
    font-weight   : 700;
    display       : inline-flex;
    align-items   : center;
    letter-spacing: -1px;
    column-gap    : .5rem;
    transition    : .3s;
}

.nav_logo-icon {
    font-size: 1.15rem;
    color    : var(--first-color);
}

.nav_logo:hover {
    color: var(--first-color);
}

.nav_toggle {
    font-size: 1.25rem;
    display  : inline-flex;
    cursor   : pointer;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position        : fixed;
        background-color: var(--container-color);
        width           : 80%;
        height          : 100%;
        top             : 0;
        right           : -100%;
        box-shadow      : -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding         : 4rem 0 0 3rem;
        border-radius   : 1rem 0 0 1rem;
        transition      : .3s;
        z-index         : var(--z-fixed);
    }
}

.nav_close {
    position : absolute;
    top      : 1rem;
    font-size: 1.5rem;
    right    : 1.25rem;
    cursor   : pointer;
}

.nav_list {
    display       : flex;
    flex-direction: column;
    row-gap       : 1.5rem;
}

.nav_link {
    color      : var(--title-color);
    font-weight: var(--font-medium);
    transition : .3s;
}

.nav_link:hover {
    color: var(--first-color);
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/*=============== HOME ===============*/
.home {
    padding: 3.5rem 0 2rem;
}

.home_container {
    row-gap : 2rem;
    position: relative;
}

.home_img {
    width       : 200px;
    justify-self: center;
}

.home_title {
    font-size    : var(--big-font-size);
    line-height  : 140%;
    margin-bottom: var(--mb-2-5);
}

.home_description {
    margin-bottom: var(--mb-2-5);
}

.home_social {
    position     : absolute;
    top          : 2rem;
    right        : -1rem;
    display      : grid;
    justify-items: center;
    row-gap      : 4rem;
}

.home_social-follow {
    font-weight: var(--font-medium);
    font-size  : var(--smaller-font-size);
    color      : var(--first-color);
    transform  : rotate(90deg);
    position   : relative;
}

.home_social-follow::after {
    content         : '';
    width           : 1rem;
    height          : 2px;
    position        : absolute;
    background-color: var(--first-color);
    right           : -45%;
    top             : 50%;
}

.home_social-links {
    display       : inline-flex;
    flex-direction: column;
    row-gap       : 0.25rem;
}

.home_social-link {
    font-size: 1rem;
    color    : var(--first-color);
    transform: .3s;
}

.home_social-link:hover {
    transform: translateX(.25rem);
}

/* button home */

.button {
    display         : inline-block;
    background-color: var(--first-color);
    color           : #fff;
    font-weight     : var(--font-medium);
    padding         : 1rem 1.75rem;
    border-radius   : .5rem;
    transition      : .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button_icon {
    transition: .3s;
}

.button:hover .button_icon {
    transform: translateX(.25rem);
}

.button--flex {
    display    : inline-flex;
    align-items: center;
    column-gap : .5rem;
}

.button--link {
    color      : var(--first-color);
    font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
    transform: translateX(.25rem);
}

/*=============== ABOUT ===============*/
.about_container {
    row-gap: 2rem;
}

.about_img {
    width       : 280px;
    justify-self: center;
}

.about_title {
    margin-bottom: var(--mb-1);
}

.about_description {
    margin-bottom: var(--mb-2);
}

.about_details {
    display      : grid;
    row-gap      : 1rem;
    margin-bottom: var(--mb-2-5);
}

.about_details-description {
    display   : inline-flex;
    column-gap: .5rem;
    font-size : var(--small-font-size);
}

.about_details-icon {
    font-size : 1rem;
    color     : var(--first-color);
    margin-top: .15rem;
}

/*=============== STEPS ===============*/
.steps_bg {
    background-color: var(--first-color-alt);
    padding         : 3rem 2rem 2rem;
    border-radius   : 1rem;
}

.steps_title {
    color: #fff;
}

.steps__container {
    padding-top: 1rem;
    gap        : 2rem;
}

.steps_card {
    background-color: var(--container-color);
    padding         : 2.5rem 3rem 2rem 1.5rem;
    border-radius   : 1rem;
}

.steps_card-number {
    background-color: var(--first-color-alt);
    color           : #fff;
    display         : inline-block;
    padding         : .5rem .75rem;
    border-radius   : .25rem;
    font-size       : var(--h2-font-size);
    margin-bottom   : var(--mb-1-5);
    transform       : .3s;
}

.steps_card-title {
    font-size    : var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.steps_card-description {
    font-size: var(--small-font-size);
}

.steps_card:hover .steps_card-number {
    transform: translateY(-.25rem);
}


/*=============== PRODUCT ===============*/
.product_container {
    padding              : 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap                  : 2.5rem 3rem;
}

.product_description {
    text-align: center;
}

.product_card {
    display : grid;
    position: relative;
}

.product_img {
    position     : relative;
    width        : 120px;
    justify-self : center;
    margin-bottom: var(--mb-0-75);
    transform    : .3s;
}

.product_title,
.product_price {
    font-size  : var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color      : var(--title-color);
}

.product_title {
    margin-bottom: .25rem;
}

.product_button {
    background   : var(--first-color);
    color        : #fff;
    position     : absolute;
    right        : 0;
    bottom       : 0;
    font-size    : 1.15rem;
    padding      : .25rem;
    border-radius: .35rem;
}

.product__circle {
    width        : 90px;
    height       : 90px;
    background   : var(--first-color-lighten);
    border-radius: 50%;
    position     : absolute;
    top          : 19%;
    left         : 5%;
}

.product_card:hover .product_img {
    transform: translateY(-.5rem);
}